.container {
  //   display: flex;
  //   justify-content: center;
  padding: 10px;
  background-color: white;
  input {
    border: 1px solid #ebe9e5;
    border-radius: 8px;
    width: 646px;
    padding: 13px;
    margin-bottom: 10px;
  }
}
